body {
    color: #333;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0, 5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#Container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#Container h1 {
    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;
}

#container-p {
    /*width: 100%;*/
    text-align: center;
    /*margin: 0 auto;*/
    background: #33a;
    /*box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0, 5);*/
    color: white;
    /*font-weight: bold;*/
    padding: 0.5em;
}

#header {
    /*color: white;
    background: #33a;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    height: 50px;
    text-align: center;
    padding:0 5em;*/

     /*width: 100%;*/
     text-align: center;
     /*margin: 0 auto;*/
     background: #33a;
     /*box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0, 5);*/
     color: white;
     font-weight: bold;
     padding: 0.5em;
     tex
    
}

#footer {
    background: #33a;
    color: white;
    /*color:#096980;*/
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.contact {
    background: #33a;
    /*background-color:#096980; */
    color: white;
    height: 100px;
    /*display: flex;*/
    align-items: center;
    /* justify-content: space-between;*/
}

.footer a {
    color: white;
}

.contact-h3 {
    color: white;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    /*padding: 10px 20px 10px 25px;*/
    /* background-image: url('../imagen/mail.png');*/
    /*background-size: 20px 20px;*/
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.form-email button {
    /*display: block;*/
    /*margin-top: 10px;*/
    background: transparent;
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    width: 100px;
    /*margin: 10px auto 0;*/
    background-position-y: center;
    background-position-x: center;
}

.project-url-a {
    font-size: 15px;
    color: white;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twiter {
    background-image: url('../img/audio-de-windows-media.svg');
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('../img/audio-de-windows-media\ \(1\).svg');
    background-size: 50px 50px;
}

.social-link.github {
    background-image: url('../img/github.svg');
    background-size: 50px 50px;
}

.social-link.instagram {
    background-image: url('../img/instagram.svg');
    background-size: 50px 50px;
}